.App {
  background-color: rgb(15, 200, 200);
  width: 330px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  display: flex;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
